* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 26px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

ol,
ul,
li {
  list-style: none;
}

.logo {
  height: 50px;
  width: 150px;
}
.color {
  background-color: white;
}
.title {
  color: orange;
}
.price {
  color: red;
  font-weight: 500;
}
.button {
  width: 2000px;
}
.product-container {
  margin-left: 15px;
  display: flex;
  display: block;
}
footer {
  padding-top: 200px;
}
h1 {
  padding-top: 10px;
  text-align: center;
}
.des {
  width: 500px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;

  display: flex;
}
.left-column {
  width: 65%;
  position: relative;
}
.left-column img {
  float: left;
}

.right-column {
  float: right;
}
